<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>新通道内容管理系统</title>
<link rel="stylesheet" href="../resources/css/materialize/materialize.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<header class="header"> </header>
	<section id="managePanel"></section>
</body>
<script type="text/javascript" src="../resources/js/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../resources/js/vue/vue.min.js"></script>
<script type="text/javascript" src="../resources/js/materialize/materialize.min.js"></script>
<script type="text/javascript" src="../resources/js/project/index.js"></script>

</html>